# Imports

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

import seaborn as sns

# Weather

In [3]:
location_database = pd.read_csv(r"../data/airport_location_database.csv")

In [5]:
location_usa = location_database[location_database.Country=="USA"]

In [13]:
location_usa =location_usa.set_index("IATA Code",drop=True)

In [7]:
df = pd.read_csv(r"../data/sampled_data.csv")

In [20]:
df_merged = pd.merge(left=df,right=location_usa,left_on="dest",right_index=True,how="left")
df_merged.tail()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,Latitude Minutes,Latitude Seconds,Latitude Direction,Longitude Degrees,Longitude Minutes,Longitude Seconds,Longitude Direction,Altitude,Latitude Decimal Degrees,Longitude Decimal Degrees
754133,2019-12-22,UA,UA_CODESHARE,UA,3796,ZW,N408AW,3796,12264,IAD,...,48.0,44.0,N,83.0,59.0,34.0,W,300.0,35.812,-83.993
754134,2019-12-29,UA,UA_CODESHARE,UA,3796,ZW,N410AW,3796,12264,IAD,...,48.0,44.0,N,83.0,59.0,34.0,W,300.0,35.812,-83.993
754135,2019-12-18,UA,UA_CODESHARE,UA,3888,ZW,N413AW,3888,13930,ORD,...,48.0,44.0,N,83.0,59.0,34.0,W,300.0,35.812,-83.993
754136,2019-12-12,UA,UA_CODESHARE,UA,3888,ZW,N465AW,3888,13930,ORD,...,48.0,44.0,N,83.0,59.0,34.0,W,300.0,35.812,-83.993
754137,2019-12-13,UA,UA_CODESHARE,UA,3883,ZW,N456ZW,3883,13930,ORD,...,48.0,44.0,N,83.0,59.0,34.0,W,300.0,35.812,-83.993

In [25]:
df_merged.isna().sum().tail(10)

Latitude Minutes             54369
Latitude Seconds             54369
Latitude Direction           54369
Longitude Degrees            54369
Longitude Minutes            54369
Longitude Seconds            54369
Longitude Direction          54369
Altitude                     54369
Latitude Decimal Degrees     54369
Longitude Decimal Degrees    54369
dtype: int64

In [18]:
weather_data = pd.read_csv(r"../data/WeatherEvents_Jan2016-Dec2020.csv")

In [19]:
weather_data.tail()

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
6274201,W-6276144,Snow,Light,2020-12-14 17:30:00,2020-12-15 01:53:00,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0
6274202,W-6276145,Snow,Moderate,2020-12-15 01:53:00,2020-12-15 03:19:00,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0
6274203,W-6276146,Snow,Light,2020-12-15 03:19:00,2020-12-15 05:53:00,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0
6274204,W-6276147,Snow,Light,2020-12-23 04:24:00,2020-12-23 05:53:00,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0
6274205,W-6276148,Snow,Light,2020-12-23 10:53:00,2020-12-23 11:26:00,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0

In [ ]:
df_merged_w = pd.merge(left=df_merged,right=weather_data,left_on="dest",right_index=True,how="left")
df_merged.tail()

In [30]:
df_merged

Empty DataFrame
Columns: [fl_date, mkt_unique_carrier, branded_code_share, mkt_carrier, mkt_carrier_fl_num, op_unique_carrier, tail_num, op_carrier_fl_num, origin_airport_id, origin, origin_city_name, dest_airport_id, dest, dest_city_name, crs_dep_time, dep_time, dep_delay, taxi_out, wheels_off, wheels_on, taxi_in, crs_arr_time, arr_time, arr_delay, cancelled, cancellation_code, diverted, dup, crs_elapsed_time, actual_elapsed_time, air_time, flights, distance, carrier_delay, weather_delay, nas_delay, security_delay, late_aircraft_delay, first_dep_time, total_add_gtime, longest_add_gtime, no_name, arr_date_time, dep_date_time, arr_month, Unnamed: 0, ICAO Code, Airport Name, City/Town, Country, Latitude Degrees, Latitude Minutes, Latitude Seconds, Latitude Direction, Longitude Degrees, Longitude Minutes, Longitude Seconds, Longitude Direction, Altitude, Latitude Decimal Degrees, Longitude Decimal Degrees]
Index: []

[0 rows x 61 columns]